.container {
    background-color: #fafafa;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
}

.card-width {
    max-width: 300px;
    flex-grow: 1;
    margin: 10px;
}