<div class="container">
    <mat-card class="card-width" *ngFor="let character of characters">
        <mat-card-header>
            <mat-card-title>{{ character.name }}</mat-card-title>
            <mat-card-subtitle>
                {{ character.species }} - <span [ngStyle]="getStyle(character.status)">{{ character.status }}</span>
            </mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="{{character.image}}">
        <mat-divider></mat-divider>
        <mat-card-actions style="float: right;">
            <button mat-button color="primary" (click)="showMore(character)">More</button>
        </mat-card-actions>
    </mat-card>
</div>
<mat-paginator [length]="length" [pageSize]="pageSize" (page)="pageEvent($event)"
    style="background-color: #3f51b5; color: white;">
</mat-paginator>