<mat-card-header>
    <div mat-card-avatar [ngStyle]="getThumbnail()"></div>
    <mat-card-title>{{ character.name }}</mat-card-title>
</mat-card-header>
<div mat-dialog-content style="margin-top: 10px;">
    <mat-list>
        <span class="bold">Status:</span> {{ character.status }}
    </mat-list>
    <mat-list>
        <span class="bold">Species:</span> {{ character.species }}
    </mat-list>
    <mat-list>
        <span class="bold">Gender:</span> {{ character.gender }}
    </mat-list>
    <mat-list>
        <span class="bold">Origin:</span> {{ character.origin.name }}
    </mat-list>
</div>
<div mat-dialog-actions style="float: right;">
    <button mat-raised-button mat-dialog-close color="warn">Close</button>
</div>