.header {
    font-family: 'schwifty';
    background-color: white;
    margin: 0px;
    text-align: center;
    color: #0aadc7;
    padding: 0px;
    font-size: x-large;
    border-bottom:  1px solid #cecece;
}